.cart-img{
    max-width: 50px;
    max-height: 50px;
}
.cart-item,.cart-result{
    background-color: rgb(240,240,240);
    border-radius: 10px;
}
.product-quantity{
    background-color: lightgray;
}