body{
    width: 98%;
    margin: 0;
}
h2{
    text-align: center;
}
.main-area{
    max-width: 280px;
    margin:auto auto auto auto;
}
.calculator{
    width: 100%;
    border: 2px solid lightgray;
    background-color: black;
    border-radius: 5px;
}
.screen-area{
    background-color: gray;
    margin: 20px;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 50px;
    font-size: 20px;
    color: lightgray;
    text-align: end;
    padding: 15px 5px 15px 5px;
    overflow: hidden;
    direction: ltr;
    border-radius: 2px;
}
.button-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}
.btn{
    padding: 10px;
    margin:10px;
    width: 40px;
    height: 40px;
    background-color: rgb(240,240,240);
    border: 0;
    cursor: pointer;
}
.btn:hover{
    background-color: lightgreen;
}
footer{
    text-align: center;
    margin-top: 10%;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}